@font-face {
    font-family: 'OPTIBankGothic';
    src: url('OPTIBankGothic-Medium.woff2') format('woff2'),
        url('OPTIBankGothic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

